*{  scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.lupi{
    height: 70%;
}

.cabecera{
    position: sticky;
    top: 0px;
    height: 10vh;
    border: solid black 5px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.navi{
    text-decoration: none;
    color: darkblue;
    font-size: 1.5rem;
}

.pie{
    position: sticky;
    bottom: 0px;
    background-color: lightcoral;
    border: solid 5px black;
    height: 5vh;
}
.portada{
    display: flex;
    flex-direction: row;
    height: 90vh;
    
}

.portada1{
    display: flex;
    border-color: black;
    border: groove 5px;
    width: 50%;
    background-color: aqua;    
    flex-direction: column;
}

.portada2{
    display: flex;
    border-color: black;
    border: groove 5px;
    width: 50%;
    padding: 5%;
    background-color: rgb(255, 234, 118);    
}

.seccion{
    border: solid 5px red;
    margin: 5px;
    padding: 5%;
    display: flex;
    height: 90vh;
}

.subseccion{
    border: solid blue 3px;
    margin: 1px;
    padding: 3px;
}